{% extends 'theblog/base.html' %}

{% block title %}
    delta nerds | home
{% endblock title %}

{% block content %}
<h1>Hello World</h1>
{% for post in object_list %}
<ul>
    <li>
    <a href="{% url 'article_details' post.pk %}">{{ post.title }}</a>  -
    {{ post.author.first_name }}
    {{ post.author.last_name }} -
        <a href="{% url 'update_post' post.pk %}"><small>Edit</small></a> -
        <a href="{% url 'delete_post' post.pk %}"><small>Delete</small></a><br>
    {{ post.body }}
    </li>
</ul>
{% endfor %}

{% endblock content %}